page-home {
    h3{
        text-align: center;
    }
    img{
        align-self: center;
        width: 200px;
        margin: auto;
        display: block;
        padding: 10px;
    }
    view{
        background-color: aqua;
    }

}
